/*  your css code here. If applicable */
.parent{
	background-color:#cccccc;
}
.player_one a{
	text-decoration:none;
    
	margin:20px 10px 20px 10px;
}
.player_one{
	background-color:white;
	border:2px black;
	color:black;

}


.player_two{
	border:1px solid black;
	background-color:white;
	
	width:80%;
	height:80%;
	

	

}
.player_two .video{
	position:relative;
	top:30px;
	left:30px;
}


