/*  your css code here. If applicable */
.parent{
	background-color:#cccccc;
}
h1{
	text-align:center;
}
.player_one a{
	text-decoration:none;
	color:black;
    
	
}
.player_one{
	background-color:white;
	border:1px solid black;
	color:black;
	

}
.player_one{
	position:relative;
	left:20px;
	
}


.player_two{
	border:1px solid black;
	background-color:white;
	position:relative;
	left:70px;
	
	width:70%;
	height:60%;
	

	

}
.player_two .video{
	width:70%;
	position:relative;
	top:20px;
	left:30px;
	
}
.player_two h1{
	text-align:center;
	position:relative;
}


